h1.display.pull-left - Verificação Subsidiado
hr.my-4
br
.text-center
  <i style="font-size:133px;" class="material-icons">fingerprint</i>
hr.my-4
h3.text-center Aguardando
.bar
br          
.text-center
  <div class="alert alert-dismissible alert-success">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>Well done!</strong> You successfully read <a href="#" class="alert-link">this important alert message</a>.
  </div>
.text-center
  <div class="alert alert-dismissible alert-danger">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>Oh snap!</strong> <a href="#" class="alert-link">Change a few things up</a> and try submitting again.
  </div>