.col-sm-3.col-md-2.sidebar-offcanvas.bg-light.shadow.p-3.mb-5.rounded(role='navigation')
    p Menu
    ul.nav.nav-pills.flex-column
        li.nav-item
            a.nav-link(href='javascript:void(0)', ui-sref-active="active", ui-sref='Dashboard.Home') 
                i.mr-2.fa.fa-home
                | Início
    hr
    p Verificações
    ul.nav.nav-pills.flex-column
        li.nav-item
            a.nav-link(href='javascript:void(0)', ui-sref-active="active", ui-sref='Dashboard.Subsidiado') 
                i.mr-2.fa.fa-graduation-cap
                | Subsidiado
        li.nav-item
            a.nav-link(href='javascript:void(0)', ui-sref-active="active", ui-sref='Dashboard.Dinheiro')
                i.mr-2.fa.fa-money
                | Dinheiro
        li.nav-item
            a.nav-link(href='javascript:void(0)', ui-sref-active="active", ui-sref='Dashboard.Nome') 
                i.mr-2.fa.fa-address-card
                | Nome
    hr
    p Registrar Digital
    ul.nav.nav-pills.flex-column
        li.nav-item
            a.nav-link(href='javascript:void(0)', ui-sref-active="active", ui-sref='Dashboard.Test') 
                i.mr-2.fa.fa-search
                | Pesquisar...