
doctype html
head
  meta(charset='utf-8')
  title
  meta(name='author', content='')
  meta(name='description', content='')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  link(href='css/styles.css', rel='stylesheet')
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
body(ng-app='refeitorio')
  section(ui-view, style='overflow-x: hidden;')
  footer
    p.text-center &copy;2018 Marlon de Oliveira dos Santos
  script(src='js/vendor.js')
  //- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-animate.js"></script>
  script(src='js/app.js')